<div class="callout callout--primary">
    
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started?</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, asperiores fugit omnis explicabo doloribus odit voluptatibus nisi accusantium similique, molestias ipsam est totam enim. Explicabo optio odit ex nam. Culpa vero et soluta architecto numquam consectetur placeat sapiente ab, quisquam ullam alias, illum quis, eum dolorem. Non ipsam voluptatibus est!</p>            </div>
<a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>