<section class="block container">
    <header class="block__header">
<h2>Host on the Cloud to Keep Growing</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, earum.</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Super Easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ducimus.</p>
        <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" 
            srcset="images/Resized/easy-to-use@1x.webp 1x, images/Resized/easy-to-use@2x.webp 2x"
            >
            <source type="image/jpg" 
            srcset="images/Resized/easy-to-use 1x.jpg 1x, images/Resized/easy-to-use 2x.jpg 2x"
            >
            <img class="feature__image" src="images/Resized/easy-to-use@2x.jpg" alt="">
        </picture>
        </article>

        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#computer"></use>
                      </svg>
                </span>
                <h3 class="feature__heading">Simply Fast Website</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ducimus.</p>
            <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                <source type="image/webp" 
                srcset="images/Resized/server@1x.webp 1x, images/Resized/server@2x.webp 2x"
                >
                <source type="image/jpg" 
                srcset="images/Resized/server 1x.jpg 1x, images/Resized/server 2x.jpg 2x"
                >
                <img class="feature__image" src="images/Resized/server 2x.jpg" alt="">
            </picture>

            </article>

        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#clock"></use>
                      </svg>
                </span>
                <h3 class="feature__heading">Wordpress made easy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ducimus.</p>
            <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                <source type="image/webp" 
                srcset="images/Resized/wordpress@1x.webp 1x, images/Resized/wordpress@2x.webp 2x"
                >
                <source type="image/jpg" 
                srcset="images/Resized/wordpress 1x.jpg 1x, images/Resized/wordpress 2x.jpg 2x"
                >
                <img class="feature__image" src="images/Resized/wordpress 2x.jpg" alt="">
            </picture>
            </article>

</section>
